*{
    margin: 0px;
    padding: 0px;
    
}

.headerBackground {
    width: 100%;
    padding: 20px;
    border-bottom: whitesmoke solid 1px;
    background-color: #0e1217;
}
.headerBackground h5 {
    font-weight: 1540;
    color: whitesmoke;
}


/* card */


#cardsContainer {
    background-color:#0e1217;
    padding: 30px 0 px;
    
}

#cardsContainer h5{
    padding-bottom: 5px;
}
.card {
    margin: 20px 10px;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);

}
.card-img-top{
    height: 40vh;
    
}
.card a:hover{
    color: #63a6b0;
    text-decoration: none;
}
/* end of card */

